<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="body-layout">
    <div id="wrapper" class="site-container">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main class="main-content">
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
    <div class="spacer-div">&nbsp;</div>
    <script src="/js/script.js" type="module"></script>
</body>
</html>