  <h1>Delete Inventory Item</h1>
  <% if (message && message.length) { %>
    <div class="notice"><%= message %></div>
  <% } %>
  <ul class="errors">
    <% errors && errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }); %>
  </ul>
  <p>Confirm Deletion - The delete is permanent. Please confirm this is the correct inventory item to be deleted. This action cannot be undone.</p>
  <form action="/inv/delete" method="POST" class="registration-form">
    <div>
      <label for="inv_make">Make:</label>
      <input type="text" id="inv_make" name="inv_make" value="<%= typeof inv_make !== 'undefined' ? inv_make : '' %>" readonly>
    </div>
    <div>
      <label for="inv_model">Model:</label>
      <input type="text" id="inv_model" name="inv_model" value="<%= typeof inv_model !== 'undefined' ? inv_model : '' %>" readonly>
    </div>
    <div>
      <label for="inv_year">Year:</label>
      <input type="text" id="inv_year" name="inv_year" value="<%= typeof inv_year !== 'undefined' ? inv_year : '' %>" readonly>
    </div>
    <div>
      <label for="inv_price">Price:</label>
      <input type="number" id="inv_price" name="inv_price" value="<%= typeof inv_price !== 'undefined' ? inv_price : '' %>" readonly>
    </div>
    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
    <button type="submit" class="registration-button">Delete Inventory Item</button>
  </form>
